@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600|Open+Sans:300,400,600|Oswald:300,400,500&display=swap');
html {
	height: 100%;
}
body {
	position: relative;
	min-height: 100%;
	padding-bottom: 70px;
}
.bg-mma {
	background-color: #212529;
	font-family: 'Open Sans', sans-serif;
	font-weight: 100;
	color: #A59468;
}
.bg-mma a{
	color: #A59468;
}
i {
	color: #A59468;
}
.btn-mma {
	-webkit-background-color: #A59468;
}
path, polygon {
	stroke: #A59468;
	stroke-width: 2;
}
path:hover, polygon:hover {
	fill: #A59468; ;
	stroke: #A59468;
}
a.btn.btn-outline-dark:hover {
	color: white;
}
.add_club {
	display: flex;
	justify-content: center;
}
#plgfrscroltwofrtoContainer .topUpTo {
	display: none!important;
}
footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

.listDiscipline{
	list-style: none;
	display: flex;
	justify-content: space-around;
	margin: 0;
	padding: 0;
	flex-wrap: wrap;
}

.disciplines{
	background: #a59468;
	padding: 1rem;
	color: white;
	margin-top: 1rem;
}