@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600|Open+Sans:300,400,600|Oswald:300,400,500&display=swap');
html {
	height: 100%;
}
body {
	position: relative;
	min-height: 100%;
	padding-bottom: 70px;
}

a.navbar-brand.mr-auto.pl-2{
	font-size: 12px;
	color: #A59468;
	text-align: center;

}
p.small {
	color: #A59468;
	font-size: 12px;
	float: left;
	margin-left: 30px;
	padding-top: 15px;
}
i.fas.fa-globe.m-auto{
	padding-left: 5px;
}
.bg-mma {
	background-color: #212529;
	font-family: 'Open Sans', sans-serif;
	font-weight: 100;
	color: #A59468;
}
.bg-mma a{
	color: #A59468;
}
i {
	color: #A59468;
}
.btn-mma {
	-webkit-background-color: #A59468;
}
path, polygon {
	stroke: #A59468;
	stroke-width: 2;
}
path:hover, polygon:hover {
	fill: #A59468; ;
	stroke: #A59468;
}
a.btn.btn-outline-dark:hover {
	color: white;
}
.add_club {
	display: flex;
	justify-content: center;
}
#plgfrscroltwofrtoContainer .topUpTo {
	display: none!important;
}
footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

.listDiscipline{
	list-style: none;
	display: flex;
	justify-content: space-around;
	margin: 0;
	padding: 0;
	flex-wrap: wrap;
}

.disciplines{
	background: #a59468;
	padding: 0.5rem 1rem;
	color: white;
	margin-top: 1rem;
}

.discipline{
	background: #a59468;
	margin: 0.5rem 1rem;
	padding: 1rem;
	color: white;
	text-align: center;
	width: 11rem;

}

#img_error{
	margin: auto;
	width: 20rem;
}

.carousel-control-next, .carousel-control-prev{
	right: 0;
	background: rgba(80, 80, 80, 1);
	width: 6%;
}

.carousel-control-prev:hover, .carousel-control-next:hover {
	right: 0;
	background: rgba(40, 40, 40, 1);
	width: 6%;
}

#form_valid{
	display: flex;
	justify-content: space-around;
}

@media screen and (max-width: 990px ){
	.logo{
		display: none;
	}

	#img_error{
		width: 100%;
	}

	#titre{
		display: none;
	}
}