<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="general:: head" >

</head>


<body>
  
<header th:replace="general:: header" ></header>
<div class="container my-4 ">
<div class="row form-group">
<div class="col-md-12 mx-4">
<h3 th:text="${club.id} ? 'Edit Club' : 'Créer un club ou salle de sport'">Club</h3>
<form method="post" th:action="@{/club}" th:object="${club}">	

	<label for="club-name" class="col col-form-label">Nom du club :</label>
	<input id="club-name" name="clubId" placeholder="Entrez le nom du club" required th:field="*{name}" type="text" class="form-control"/>
	
    <label for="club-address" class="col col-form-label">Adresse :</label>
    <input id="club-address" name="address" placeholder="Entrez ses coordonées" required th:field="*{address}" type="text" class="form-control">
 
    <label for="club-logo" class="col col-form-label">Logo :</label>
    <input id="club-logo" name="logo" placeholder="Ajouter le logo du club / salle de sport" required th:field="*{logo}" type="text" class="form-control">
  
    <label for="club-photo" class="col col-form-label">Photos :</label>
    <input id="club-photo" name="photo" placeholder="Photo" required th:field="*{photo}" type="file" class="form-control">

    <label for="club-description" class="col col-form-label">Description :</label>
    <input id="club-description" name="description" placeholder="Ajouter sa description " required th:field="*{description}" type="text" class="form-control">

    <label for="club-region" class="col col-form-label">Region :</label>
    <input id="club-region" name="region" placeholder="Entrez sa région" required th:field="*{region}" type="text" class="form-control">
   <a class="btn btn-outline-dark" th:href="@{/club/edit(clubId=${club.id})}">Disciplines</a>
    

    <input class="btn btn-mma text-white mt-4 text-center" type="submit" value="Ajouter">
</form>

<form th:action="@{/club}" th:object="${club}" method="post">
     <input name="clubId" th:value="${club.id}" type="hidden">
   
    <label for="disciplines">Entrer une discipline:</label>
    <select id="discipline" name="disciplineId">
        <option th:each="discipline : ${allDisciplines}" th:text="${discipline.nom}"
                th:value="${discipline.id}">
        </option>
    </select>
    <input type="submit" value="Ajouter">
</form>
<h3>Disciplines :</h3>
<table>
    <thead>
    <tr>
       <th>id</th>
        <th>Nom de la discipline: </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="discipline : ${club.disciplines}">
        <td th:text="${discipline.id}">discipline</td>
        <td th:text="${discipline.nom}">discipline</td>
    </tr>
    </tbody>
</table>



<br>
<a class="btn btn-outline-dark" href="/clubs">Retourner à la liste</a>
</div>
</div>
</div>
 <footer th:replace="general :: footer"></footer>

</body>
</html>