<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head th:replace="general:: head" >
</head>

<body>
<header th:replace="general:: header" ></header>
<div class="container my-4">
<div class="row">
<div class="col-12">
<h3>Clubs</h3>
<a class="btn btn-dark text-white" th:href="@{/admin/edit}">Ajouter un club !</a>
<br><br>
<table class="table">
    <thead>
    <tr>
        <th scope="col">Nom du club :</th>
        <th scope="col">Adresse :</th>
        <th scope="col">Photo teset</th>
        <th scope="col"></th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr class="table-active" th:each="club : ${clubs}">
        
        <td th:text="${club.name}">name</td>
        <td th:text="${club.address}">address</td>
	    <td th:text="${club.photo}">photo</td>
        <td><a class="btn btn-outline-dark" th:href="@{/admin/modify(id=${club.id})}"><i class="fas fa-pencil-alt"></i></a></td>
        <td><a   class="btn btn-outline-dark" ><i  class="fas fa-trash"></i></a></td>
    </tr>
    </tbody>
</table>
<br>
</div>
</div>
</div>
<footer th:replace="general:: footer" ></footer>
</body>
</html>