<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head th:replace="general:: head" >
</head>


<body>
  
<header th:replace="general:: header" ></header>
<div class="container my-4 ">
<div class="row form-group">
<div class="col-md-12 mx-4">
<h3 th:text="${club.id} ? 'Edit Club' : 'Créer un club ou salle de sport'">Club</h3>
<form method="post" th:action="@{/admin/edit}"  enctype="multipart/form-data" th:object="${club}">
    <input name="id" th:field="*{id}" type="hidden">
	<label for="club-name" class="col col-form-label">Nom du club :</label>
	<input id="club-name" name="name" placeholder="Entrez le nom du club" required th:field="*{name}" type="text" class="form-control"/>
	
    <label for="club-address" class="col col-form-label">Adresse :</label>
    <input id="club-address" name="address" placeholder="Entrez ses coordonées" required th:field="*{address}" type="text" class="form-control">
    
    <label for="club-ville" class="col col-form-label">Ville :</label>
    <input id="club-ville" name="address" placeholder="Entrez la ville" required th:field="*{ville}" type="text" class="form-control">


    <label for="club-photo" class="col col-form-label">photo :</label>
    <input id="club-photo" name="address" placeholder="Ajouter une photo"  th:field="*{photo}" type="file" class="form-control">
 		


    <label for="club-logo" class="col col-form-label">Logo :</label>
    <input id="club-logo" name="logo" placeholder="Ajouter le logo du club / salle de sport"  th:field="*{logo}" type="file" class="form-control">


    <label for="club-description" class="col col-form-label">Description :</label>
    <input id="club-description" name="description" placeholder="Ajouter sa description " required th:field="*{description}" type="text" class="form-control">

    <label for="club-discipline" class="col col-form-label ">Disciplines :</label>
    <ul class="d-lg-flex justify-content-around flex-row" name="discipline" id="club-discipline">
        <li  th:each="discipline : ${disciplines}">
            <input class="form-check-input" type="checkbox" th:text="${discipline.nom}" th:value="${discipline.id}" th:field="*{disciplines}"></li>
    </ul>

    <label for="club-region" class="col col-form-label">Region :</label>
    <select name="region" id="club-region" th:field="*{region}" class="form-control">
        <option th:each="region : ${regions}" th:text="${region.name}" th:value="${region.id}"></option>
    </select>
    <input class="btn btn-dark my-4" type="submit" value="Créer">

</form>
<hr>
<a class="btn btn-outline-dark float-right mt-4" href="/admin">Retourner à la liste</a>
</div>
</div>
</div>
 <footer th:replace="general :: footer"></footer>

</body>
</html>