<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head th:replace="general:: head" ></head>

<body>
<header th:replace="general:: header" ></header>
<div class="container my-4">
<div class="row">
<div class="col-12">
<h3>Clubs</h3>
<a class="btn btn-dark text-white" th:href="@{/club}">Add a new club !</a>
<br><br>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Address</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="club : ${clubs}">
        <td th:text="${club.id}">id</td>
        <td th:text="${club.name}">name</td>
        <td th:text="${club.address}">address</td>

        <td><a th:href="@{/club(id=${club.id})}">Edit</a></td>
        <td><a th:href="@{/club/delete(id=${club.id})}">Remove</a></td>
    </tr>
    </tbody>
</table>
<br>
</div>
</div>
</div>
<footer th:replace="general:: footer" >></footer>
</body>
</html>