<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head th:replace="general:: head" >
</head>
<body>
<header th:replace="general :: header" ></header>
<div class="container my-4">
    <div class="row ">
        <div class="col-12 m-auto d-block text-center">
    <h1>Oups ! Cette page n'existe pas ...</h1>
    <img src="img/hand.png" alt="photo mohamed ali"> <br>
    
    <a class="btn btn-dark text-white my-4" style="color: #A59468;" th:href="@{/}">Retourner à l'accueil</a>

        </div>
    </div>
</div>
        <footer th:replace="general:: footer" ></footer>
</body>
</html>