<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="general:: head" >

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimal-ui"/>
    <title>Region</title>
</head>
	<body>
	<header th:replace="general:: header"></header>
	<div class="container my-4">
	<div class="row">
		<div class="col card border-dark  m-auto" style="max-width: 80%;" >


			<h2 class="text-center my-3" style="color: #a59468;" th:text="${fichesClub.name}">name</h2>
			<div class="card-body ">
				<img class="card-text logo mt-2" th:src="@{${fichesClub.logo_url}}" style="max-width:100px; width: 100px;position: absolute;top: 0;">
				<img class="img-responsive"  style="max-width:840px;width: 100%; display: block; margin: 2rem auto" th:src="@{${fichesClub.photo_url}}" alt="Card image">

				<p class="card-subtitle text-muted mt-3" th:text="${fichesClub.address}">address</p>
				<p class="card-text" th:text="${fichesClub.ville}"></p>
				<p class="card-text" th:text="${fichesClub.postalCode}"></p>
				<p class="card-text" th:text="${fichesClub.phoneNumber}"></p>
				<a class="card-text" th:text="|Site du Club|" target="blank_" th:href="@{${fichesClub.socialUrl}}"></a>
				<p class="card-text" th:text="${fichesClub.valide}"></p>
				
				<p th:text="${fichesClub.description}">description</p>
				<hr>
				<ul class="listDiscipline">
					<li th:each="discipline : ${fichesClub.disciplines}" class="disciplines">
						<a th:text="${discipline.nom}" th:href="@{/discipline/{id}(id=${discipline.id})}" style="color: white;"></a>
					</li>
				</ul>
			</div>
		</div>
	</div>
		
        
         <footer th:replace="general :: footer"></footer>

	</body>
</html>