<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimal-ui"/>
    <title>Region</title>
</head>
	<body>
		<h2 th:text="${fichesClub.name}"></h2>
		<tr>
        <td th:text="${fichesClub.id}">id</td>
        <td th:text="${fichesClub.name}">name</td>
        <td th:text="${fichesClub.address}">address</td>
        <td th:text="${fichesClub.logo}">id</td>
        <td th:text="${fichesClub.photo}">name</td>
        <td th:text="${fichesClub.description}">address</td>
        </tr>
	</body>
</html>