<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="general:: head" >
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimal-ui"/>
    <title>Region</title>
</head>
	<body>
	<header th:replace="general:: header"></header>
	<div class="container my-4">
	<div class="row">
	<div class="col card border-dark  m-auto" style="max-width: 80%;" >
	
		
        <h2 class="card-header text-center" th:text="${fichesClub.name}">name</h2>
        <div class="card-body ">
    	<p class="card-text" th:text="${fichesClub.logo}">logo</p>
        <img class="img-responsive m-auto "  style="height: 400px; max-width: 100%; display: block;" src="mmfcg.jpg" alt="Card image">
        
        <p class="card-subtitle text-muted mt-3" th:text="${fichesClub.address}">address</p>
        <p class="card-text" th:text="${fichesClub.ville}">ville</p>
        
      	<p th:text="${fichesClub.description}">description</p>
        </div>
	</div>
	</div>
	</div>
		
        
         <footer th:replace="general :: footer"></footer>
	</body>
</html>