<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/">
    <meta property="og:description" content="Le MMA Fight Club Gym - Annuaire est destiné à la pratique du MMA - arts martiaux mixtes: boxe anglaise, boxe thaïlandaise, judo, karaté , grappling, lutte,
	Jiu-jitsu brésilien, capoeira, taekwondo"/>
	<meta name="description" content="Le MMA Fight Club Gym - Annuaire est destiné à la pratique du MMA - arts martiaux mixtes: boxe anglaise, boxe thaïlandaise, judo, karaté , grappling, lutte,
	Jiu-jitsu brésilien, capoeira, taekwondo"/>
	<meta name="robots" content="annuaire,club , tours , sport , défense , combat , mma , self-défense , boxe , boxe anglaise, boxe thaïlandaise, judo, karaté , grappling, lutte,
	Jiu-jitsu brésilien, capoeira, taekwondo, autodéfense , self-contrôle." />
	<meta name="googlebot" content="Annuaire, MMA, sport, club sportif, art martiaux" />
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css}"/>
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css}" integrity="sha256-piqEf7Ap7CMps8krDQsSOTZgF+MU/0MPyPW2enj5I40=" crossorigin="anonymous" />
    <link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css}" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css}" />
    <title>Annuaire sportif MMA - MFCGym</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
    
</head>

<body>
<nav th:fragment="header" class="navbar navbar-expand-sm navbar-dark bg-mma">

    <a class="navbar-brand mr-auto pl-2" th:href="@{/}"><img th:src="logo.png" alt="logo mcf gym" style="height: 80px; width: auto; display: block; "></a>
    <a class="navbar-toggler "  data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01"  aria-label="Toggle navigation">
        <i class="fas fa-search "></i>
    </a>
    <a class=" navbar-toggler"  data-toggle="collapse tooltip" th:href="@{https://www.mfcgym.fr}" 
       title="Notre site web" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false"
       aria-label="Toggle navigation">
                    <i class="fas fa-globe" ></i>
    </a>
    
    
    <div class="collapse navbar-collapse" id="navbarColor01">
           
       
        <div style="position: absolute; right: 18rem;">
            <a href="https://www.mfcgym.fr" class="collapse navbar-collapse" data-toggle="tooltip" title="Notre site web">
                <i class="fas fa-globe p-auto" ></i>  Notre site web
            </a>
        </div>
        <form class="form-inline ml-auto p-auto" id="form-query"action="/search/club">
            <input class="form-control" id="form-cb" type="text" placeholder="Recherche" name="club" style="flex:1">
            <button type="submit" class="form-control m-auto"><i class="fas fa-search m-auto"></i></button>
        </form>
    </div>


</nav>


<footer th:fragment="footer" class="bg-mma page-footer font-small ">
    <div class="container">
        <div class="row">
            <div class="col-3  btn ">
                <a th:href="@{/mentions}" class="btn icone">Mentions</a>
            </div>
            <div class="col-2  btn btn-default">
                <a href="https://www.mfcgym.fr" class="btn"><i class="fas fa-globe icone" data-toggle="tooltip" title="Notre site web"></i></a>
            </div>
            <div class="col-2  btn btn-default">
                <p class="btn"><i class="fas fa-map-marker-alt icone" data-toggle="tooltip" title="MMA FIGHT CLUB GYM 225 Boulevard Charles de Gaulle 37540 Saint-Cyr-Sur-Loire "></i></p>
            </div>
            <div class="col-2  btn btn-default">
                <p class="btn"><i class="fas fa-phone icone" data-toggle="tooltip" title="07 77 86 95 65"></i></p>
            </div>
            <div class="col-3 btn btn-default">
                <a href="mailto:contact@mfcgym.fr" class="btn"><i class="fas fa-envelope icone" data-toggle="tooltip" title="Cliquez pour envoyer un mail"></i></a>
            </div>

        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/9c36ea5e86.js" crossorigin="anonymous"></script>
    <script type="text/javascript" th:src="@{/script.js}"></script>
</footer>

</body>
</html>
