<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="general:: head"></head>
<body>
<nav th:replace="general:: header"></nav>

<div class="container my-4">
<p >Recherchez un club sportif par région</p>
<a class="btn btn-outline-dark "> <i class="fas fa-map-marker-alt"> </i> Géocalisez - moi !</a>
<div class="map row" id="map">

	<div th:replace="map:: map"></div>	
   
    <div class="col-lg-6 col-12">
<ul class="list-group " th:each="region : ${regions}">
		<li class="list-group-item justify-content-between align-items-center "><a class="float-left  text-dark" th:href="@{/clubs(region=${region.id})}" th:text="${region.name}"></a></li>
	</ul>
	</div>
</div>
</div>
<footer th:replace="general:: footer"></footer>
</body>
</html>