<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head th:replace="general:: head" >
</head>
<body>
<header th:replace="general :: header" ></header>
<div class="container my-4">

<h1 >Clubs</h1>
    <div class="row">
       

            <div class="col card border-dark  m-auto" style="max-width: 20rem;"  th:each="club : ${clubs}">
                <h2 class="h2 my-3" style="color: #a59468;" th:text="${club.name}">name</h2>
                <p class="card-text" th:text="${club.ville}">ville</p>
                <p th:text="${club.logo}">logo</p>
				<img th:text="${club.photo}" style="height: 200px; width: 100%; display: block;" src="mmfcg.jpg" alt="Card image">
            
                <a class="btn btn-dark text-white m-auto" style="color: #a59468;" th:href="@{/club(id=${club.id})}">En savoir +</a>

                <hr>
         
        </div>
    </div>
</div>
<footer th:replace="general:: footer" ></footer>
</body>
</html>


 