<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head th:replace="general:: head" ></head>

<body>
<header th:replace="general:: header" ></header>
<div class="container my-4">
<div class="row">
<div class="col-12">
<h3>Clubs</h3>
<br><br>
<table class="table">
    <thead>
    <tr>
        <th scope="col">Nom du club :</th>
        <th scope="col">Adresse :</th>
        <th scope="col">Photo</th>
        <th scope="col"></th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr class="table-active" th:each="club : ${clubs}">
        
        <td th:text="${club.name}">name</td>
        <td th:text="${club.address}">address</td>
	    <td th:text="${club.ville}">photo</td>
    </tr>
    </tbody>
</table>
<br>
</div>
</div>
</div>
<footer th:replace="general:: footer" ></footer>
</body>
</html>